body{
	margin: unset;
	background-image: url("imagesbrute/fond.jpg");
	display: flex;
	flex-direction: column;
}
nav{
	margin: 5%;
	display: flex;
	justify-content: space-between;
}

input#inp1 {
	width: 20%;
}

p{
	font-size: 28px;
	background-color: salmon;
	border-radius: 5px;
	width: fit-content;
}
p#afficheMotDeviner{
	align-self: center;
}
main#jeu{
	visibility: hidden;
	display: flex;
	justify-content: space-around;
  	align-items: center;
}